.row {
  margin-bottom: 15px;
}
.row > div {
  border: 2px solid red;
  background-color: gray;
}

/**Header**/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Page Name */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
