/**Header**/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Page Name */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

#header {
	text-align: center;
	margin-bottom: 50px;
	color: Black;
	font-weight: bold;
	font-size: 1.2em;
}

.card-header{
	text-align: center;	
}

.first{
	background-color: gray;
	color: black;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	font-style: italic;
}

.second{
	background-color: black;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	font-style: italic;
}

.third{
	background-color: black;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	font-style: italic;
}
